.mainDiv {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    font-family: 'Open Sans', sans-serif;
}

.cardStyle {
    width: 500px;
    height: 70%;
    border-color: white;
    background: #fff;
    padding: 36px 0;
    border-radius: 4px;
    margin: 30px 0;
    box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.25);
}

.formTitle {
    font-weight: 600;
    margin-top: 20px;
    color: #2f2d3b;
    text-align: center;
}

.inputDiv {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

input {
    height: 40px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    border: solid 1px #ccc;
    padding: 0 11px;
}

input:active {
    border: 2px solid #ff8f99;
    outline: none;
}

.inputLabel {
    font-size: 12px;
    color: #555;
    margin-bottom: 6px;
    margin-top: 24px;
}

input:hover {
    border: 2px solid #ff8f99;
    outline: none;
}

.submitButton {
    width: 70%;
    height: 40px;
    margin: auto;
    display: block;
    color: #fff;
    background-color: #ff8f99;
    border-color: #ff8f99;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.015);
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

p {
    font-size: 14px;
    text-align: center;
    padding: 10px 20px;
}
