/* body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 70%;
    min-height: 100%;
}

#image {
    margin-top: 6%;
    width: 300px;
    height: 40%;
}

.title {
    font-size: 3rem;
    color: #999;
}

.message {
    font-size: 1.9rem;
    color: #777;
}

.message-wrapper {
    margin-top: -10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}
.toast {
    background-color: tomato;
    min-width: 80%;
    padding: 4px;
    color: white;
    animation: fadeIn 2s ease-in;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
