html
html
    head
        title Verification Page
        link(rel="stylesheet", href="/style/verified.css")
    body
        .wrapper 
            img(src="/images/expired.png", alt="link expired")
            h1 Verification link expired. Sign up again to generate a new link.