html
html
    head
        title Password Reset Form
        script(src='/scripts/member_invite_verify.js')
        link(rel="stylesheet", href="/style/reset.css")
    body
        .mainDiv 
            .cardStyle
                form(id="update-password-form")
                    h2.formTitle Invitation to join Famstar
                    p For first time login, you have to set password.

                    div.inputDiv
                        label(for='password', class="inputLabel") New Password
                        input(name='password', type='password', value='' ,placeholder='New Password', autofocus=true ,id="password", required)
                    br
                    div.inputDiv
                        label(for='confirm', class="inputLabel") Confirm Password
                        input(name='confirmPassword' type='password' value='' placeholder='Confirm Password' id="confirm-password", required )
                    br
                    button(type='submit', class="submitButton") Update Password