html
html
    head
        title Password Reset Form
        script(src='/scripts/reset_password_company.js')
        link(rel="stylesheet", href="/style/reset.css")
    body
        .mainDiv 
            .cardStyle
                form(id="update-password-form")
                    h2.formTitle Change Password

                    div.inputDiv
                        label(for='password', class="inputLabel") New Password
                        input(name='password', type='password', value='' ,placeholder='New Password', autofocus=true ,id="password", required)
                    br
                    div.inputDiv
                        label(for='confirm', class="inputLabel") Confirm Password
                        input(name='confirmPassword' type='password' value='' placeholder='Confirm Password' id="confirm-password", required )
                    br
                    button(type='submit', class="submitButton") Update Password