html
html
    head
        title Verification Page
        link(rel="stylesheet", href="/style/verified.css")
    body
        .wrapper 
            img(src='/images/verified.png', alt='Verified', id="image")
            h1.title Account Verified 
            .message-wrapper 
                p.message Your famstar account has been verified now. Now please log in to your account to create your profile.